body{
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    color:white;
    background-color: black;
}

header{
    display: flex;
    font-size: larger;
}
#logo{
    width:100px;
    height:100px;
}
main{
    font-size: larger;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#GameDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: white;
    width: 500px;
    border-radius: 10px;
    height: 300px;
    gap: 5px;
    font-size: large;
}
#createbtn{
    background-color: black;
    color: white;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
}
.settings{
    background-color: rgb(42, 41, 41);
    color: white;
    border-radius: 5px;
    width: 400px;
    height: 30px;
}